@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply flex flex-col min-h-[100vh] pt-20 bg-primary;
}

footer {
  @apply mt-auto;
}

.container {
  @apply py-0 px-6 max-w-screen-xl my-0 mx-auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-secondary);
  font-weight: 700;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1rem;
}
